/* Reset & Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styling */
header {
  /* background-color: #e62e00; */
  /* color: white; */
  padding: 1rem 0;
  text-align: center;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

#main-heading {
  font-size: 2rem;
}

/* Main layout container */
.main-container {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
  /* background-color: #f0f0f0; */
}

/* Sidebar options */
.options {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  height: 500px;
  /* background-color: #fff; */
  padding: 1rem;
  border: 2px solid #ccc;
  /* border-radius: 10px; */
}

/* Button styles */
.options > button {
    width: 100%;
    padding: 15px;
    background-color: lightblue;
    border: 2px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.options > #clear-grid {
    width: 50%;
    padding: 7px;
    background-color: #B6D0E2;
    border: 2px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

/* Styling for the slider */
.slide-container {
  width: 100%; /* Width of the outside container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/* Styling for the update grid button */
#update-grid {
    width: 50%;
    padding: 7px;
    background-color: #6F8FAF;
    border: 2px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

/* Drawing grid */
.grid {
  flex: 1;
  display: grid;
  width: 500px;
  height: 500px;
  /* background-color: white; */
  border: 2px solid #ccc;
  /* border-radius: 10px; */
  /* min-height: 400px; Temporary height before JS adds content */
}

/* Footer Styling */
footer.footer {
  text-align: center;
  padding: 1rem;
  /* background-color: #e62e00; */
  /* color: white; */
  /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}
